{{> nav}}
<div class="container">
    <div class="jumbotron">
        <h1>Mongo-Scraper</h1>
        <p>Scrapin' up University of Kansas sports news</p>
    </div>
    <div class="row">
        <p>Placeholder</p>
    </div>
</div>